# App settings
DEBUG=True
URL_PREFIX="/api"

# JWT settings
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRE_MINUTES=10080

# Database settings
DB_USER=dev_user
DB_PASSWORD=dev_user
DB_HOST=localhost
DB_PORT=5445
DB_NAME=dev_db
DB_SCHEMA=main_schema
DB_TEST_SCHEMA=test_schema

# Bot settings
BOT_TOKEN="INSERTFROMTELEGRAMBOTFATHER"
BOT_API_URL="https://mysite.com"
BOT_API_EMAIL="bot@admin.com"
BOT_API_PASSWORD="password123"
